.project{
    width: 90%;
    border: solid 1px gray;
    height: auto;
    border-radius: 5px;
    margin: 10px 5%;
    text-align: center;
}

.project:hover{
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}

#projects{
    text-align: center;
}

#new-pr{
    text-align: right;
    text-decoration: underline;
    width: auto;
}

#new-pr:hover{
    color: rgb(185, 181, 181);
    cursor: pointer;
}