  .navbar {
    height: auto !important;
  }

  #maininfo {
    background-color: grey;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  #full-wrapper {
    flex-grow: 1;
  }

  #mapid {
    position: relative;
    width: 100%;
  }

  #zoomAllButton {
    position: absolute;
    top: 130px;
    left: 10px;
    z-index: 1;
    border-color: rgb(196, 196, 196);
    background-color: white;
  }