  .navbar {
    height: auto !important;
  }

  #maininfo {
    background-color: grey;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  #full-wrapper {
    flex-grow: 1;
  }

  #mapid {
    position: relative;
    width: 100%;
  }

  #zoomAllButton {
    position: absolute;
    top: 80px;
    left: 10px;
    z-index: 1;
    border-color: rgb(196, 196, 196);
    background-color: white;
  }

  .leaflet-control-search {
    margin-top: 40px !important;
  }

  div.leaflet-bottom.leaflet-left {
    z-index: 999 !important;
  }

  #divSvg {
    margin-left: 15px;
    border-radius: 25px;
    border: 2px solid #787d80;
    width: 90%;
  }

  /* border: 2px solid #2688a7; */