/* Quita el margen al body de la pagina
body {
    margin: 0px;
}

.multilineas {
    stroke: blue;
    stroke-width: 1;
    fill: gainsboro
}

.multilineas path {
    stroke: green;
    stroke-width: 5;
    stroke-linejoin: round;
}

rect {
    fill: steelblue
}

text {
    font-family: sans-serif;
}

.tick text {
    font-size: 1.2em;
    fill: #8E8883;
}

.tick line {
    stroke: #C0C0BB;
}

.axis-label {
    font-size: 2.5em;
    fill: #8E8883;
}

.title {
    font-size: 1.5em;
    fill: #8E8883;
} */

.element {
    fill: lightgrey;
    stroke: grey;
    shape-rendering: crispEdges;
}

.stack rect {
    fill: white;
    stroke: grey;
    stroke-width: 0.5;
}